# Gradle
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml

# CocoaPods (iosApp)
Pods/

# Local config
local.properties

# Kotlin/Native & Xcode
*.klib
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/

# OS
.DS_Store
